h1{
  text-align: center;
  background-color: aqua;
  width: 60%;
  margin: 5px auto;
  border-radius: 10px;
}

table{
  border: 1px solid black;
  margin: 5px auto;
  width: 70%;
  border-radius: 10px;
  background-color: azure;
  text-align: center;
}

td, tr,th{
  border: 1px solid black;
}
